@import "../../styles/variables.scss";

.input {
  border: 0.5px solid $color-secondary;
  border-radius: 2px;
  font-size: $font-size-md;
  color: $color-primary;
  box-sizing: border-box;
  width: 250px;

  &--invalid {
    border: 1.5px solid $color-warning;
  }

  &__label {
    margin-bottom: $spacing-xxs;

    &--required {
      &::after {
        content: "*";
        color: $color-warning;
        margin-left: $spacing-xxxs;
      }
    }
  }

  &:focus {
    outline: 1.5px solid $color-secondary;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 250px;
  }
}
