<div *ngIf="control" class="input__wrapper">
  <label
    [htmlFor]="inputId"
    *ngIf="label"
    class="input__label"
    [class.input__label--required]="isRequired"
    >{{ label }}</label
  >
  <input
    *ngIf="type !== 'textarea'"
    [required]="isRequired"
    [formControl]="control"
    [id]="inputId"
    [type]="type"
    class="input"
    [class.input--invalid]="control.invalid"
  />
  <textarea
    *ngIf="type === 'textarea'"
    [required]="isRequired"
    [formControl]="control"
    [id]="inputId"
    class="input"
    [class.input--invalid]="control.invalid"
  ></textarea>

  <app-validation-errors [errors]="control.errors"> </app-validation-errors>
</div>
