@import "../../styles/variables.scss";

.input {
  border: 0.5px solid $color-secondary;
  border-radius: 2px;
  width: 250px;
  font-size: $font-size-md;
  color: $color-primary;
  box-sizing: border-box;

  &__label {
    margin-bottom: 5px;
  }

  &:focus {
    outline: 1.5px solid $color-secondary;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}
