<div>
  <form [formGroup]="offerFormGroup" (submit)="createOffer()">
    <div>
      <h2>Create an offer!</h2>
    </div>
    <app-input
      name="title"
      label="Title"
      inputId="title_input"
      formControlName="title"
    ></app-input>
    <app-input
      name="description"
      label="Additional Information"
      inputId="description_input"
      formControlName="description"
      type="textarea"
    ></app-input>
    <app-input
      name="expiration-date"
      label="Expiration Date"
      type="date"
      formControlName="expirationDate"
    ></app-input>
    <app-button
      text="Create an offer"
      variant="secondary"
      (btnClick)="createOffer()"
    ></app-button>
  </form>
</div>
