@import "../../styles/variables.scss";

.button {
  margin: 0;
  padding: 5px 30px;
  border: 1px solid $color-secondary;
  border-radius: 2px;
  color: $color-primary;
  text-decoration: none;
  display: inline-block;
  background: none;
  font-size: $font-size-lg;
  line-height: $font-size-lg * 1.1;

  &--secondary {
    background: $color-secondary;
    color: #fff;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.9;
  }
}
