@import "../../styles/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
