@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;

  &__wrapper {
    @include signup-background;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
  }

  &__heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    margin-bottom: 40px;
  }
}
