<div class="form__wrapper">
  <form action="" class="form" [formGroup]="formGroup" (submit)="submit()">
    <div class="form__heading">
      <h1>Hello!</h1>
      <h2>Signup to start your learning journey!</h2>
    </div>
    <app-input
      name="email"
      label="Email"
      type="email"
      inputId="email_input"
      formControlName="email"
    ></app-input>
    <app-input
      name="username"
      label="Username"
      inputId="name_input"
      type="text"
      formControlName="username"
    ></app-input>
    <app-input
      name="password"
      type="password"
      label="Password"
      inputId="password_input"
      formControlName="password"
    ></app-input>
    <app-button
      text="Signup"
      variant="secondary"
      (btnClick)="submit()"
    ></app-button>
  </form>
</div>
