<nav class="nav">
  <a routerLink="">
    <img src="../../../assets/logo.svg" alt="logo icon" />
  </a>
  <div class="nav__links">
    <app-button
      text="Signup"
      [isLink]="true"
      routerLink="signup"
      variant="secondary"
    ></app-button>
    <app-button
      *ngIf="!isLoggedIn; else second"
      text="Login"
      [isLink]="true"
      routerLink="login"
    ></app-button>
    <ng-template #second>
      <app-button text="Logout" (btnClick)="logout()"></app-button>
    </ng-template>
  </div>
</nav>
